---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import AppScreenshots from '../components/AppScreenshots.astro';
import CharacterEvolution from '../components/CharacterEvolution.astro';
import BetaSignup from '../components/BetaSignup.astro';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<HeroSection />
		<FeaturesSection />
		<AppScreenshots />
		<CharacterEvolution />
		<BetaSignup />
	</body>
</html>
