---
import Layout from '../layouts/Layout.astro';
import LenisProvider from '../components/LenisProvider.astro';
import CustomCursor from '../components/CustomCursor.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import ManifestoSection from '../components/sections/ManifestoSection.astro';
import FeaturesSection from '../components/sections/FeaturesSection.astro';
import ShowcaseSection from '../components/sections/ShowcaseSection.astro';
import CarouselSection from '../components/sections/CarouselSection.astro';
import InsightsSection from '../components/sections/InsightsSection.astro';
import PricingSection from '../components/sections/PricingSection.astro';
import FooterSection from '../components/sections/FooterSection.astro';
---

<Layout>
	<LenisProvider />
	<main class="custom-cursor bg-background">
		<CustomCursor />
		<HeroSection />
		<ManifestoSection />
		<FeaturesSection />
		<ShowcaseSection />
		<CarouselSection />
		<InsightsSection />
		<PricingSection />
		<FooterSection />
	</main>
</Layout>
